/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    background: #78dff9;
}
  
h1 {
font-size: 56px;
}

h2 {
font-size: 40px;
}

h3 {
font-size: 35px;
}

h4 {
font-size: 28px;
}

h5 {
font-size: 24px;
}

h6 {
font-size: 18px;
}

.memory-game {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    margin: auto;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #4c5052;
}